@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


*{
    margin: 0;


padding: 0;


box-sizing: border-box;


text-decoration: none;

list-style: none;

}
body{
  h1, h2, h3, h4, h5, h6{
    color: white;
  }
}

:root{

--bg-color: #222327;

--text-color: #fff;

--main-color: #29fd53;

}


body {
height: 100%;
width: 100%;
background-color: black;
}
nav{
color: #fff;
position: fixed;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
background: transparent;
padding: 28px 12%;
transition: all .50s ease;
}
.logo{

display: flex;
align-items: center;


}


.logo i{

color: var(--main-color);
font-size: 28px;
margin-right: 3px;
}

.logo span{

color: var(--text-color);
font-size: 1.7rem; font-weight: 600;

}
.navbar{

display: flex;

}

.navbar a{

color: var(--text-color);
font-size: 1.1rem;
font-weight: 500;
padding: 5px 0;
margin: 0px 30px;
transition: all .50s ease;

}

.navbar a:hover{
color: var(--main-color);
}  
.navbar a.active{
color: var(--main-color);
}

.main{
display: flex;
align-items: center;
}

.main a{

margin-right: 25px;
margin-left: 10px;
color: var(--text-color);
font-size: 1.1rem;

font-weight: 500;

transition: all .50s ease;

}

.user{

display: flex;

align-items: center;

}

.user i{

color: var(--main-color);

font-size: 28px;

margin-right: 7px;

}
.main a:hover{

color: var(--main-color);

}

#menu-icon{
font-size:20p;
color: var(--text-color);
cursor: pointer;
z-index: 10001;
display:none;

}





.landing {
background-image: url("1.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: 125vh;
margin-bottom: 20px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
bottom: 4pc;
}

.text-container {
text-align: center;
}

.Elite, .gaming {
font-family: 'Black Ops One', sans-serif;
color: white;
}

.Elite {
font-size: 70px;
position: relative;
bottom: 10px;
display: flex;
}

.gaming {
font-size: 25px;
position: relative;
bottom: 45px;
display: flex;
margin-left: 70px;
text-align: center;
margin-top: 20px; 
}
.circle {
    position: relative;
    width: 60vh;
    height: 60vh;
    background: url('2.png');
   background-size: cover;
    border-radius: 50%;
    animation: animate 0.5s linear infinite;
    margin-left: 40px;
}
.circle.spin {
    animation: animate 0.5s linear infinite;
  }
  
  

.circle:after {
    content: '';
    position: absolute;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
    border-radius: 50%;
    background-image: url("2.png");
    background-size: cover;
    animation: rotateImage 0s linear infinite; 
    margin-bottom: 6px;
}
.circle img{
    position: relative; bottom: 20px;
}





.circle span {

position: absolute;

width: 100%;

height: 100%;

background: linear-gradient(#33ccff,#ff0066);

border-radius: 50%;

}

.circle span:nth-child(1) {
    filter: blur(5px);

} 

.circle span:nth-child(2) { 
    filter: blur(10px);

}

.circle span:nth-child(3) { 
    filter: blur(20px);

}

.circle span:nth-child(4) { filter: blur(55px);

}


.about {
    background-color: #000000;
    width: 100%;
    height: 125vh;
    position: relative;
    bottom: 5.5pc;
    display: flex;
    align-items: center; 
    display: flex;
}
.text{
    margin-left: 10pc;
    position: relative;
    bottom: 7pc;
}




.about{
    color: white;
    font-size: 2rem;
}
.text {
    display: flex;
    flex-direction: column;
}

.text h1 {
    margin-bottom: 10px;
}

.text button {
    margin-top: 10px;
    background-color: #000000;
    box-shadow: none;
    border: #000000;
    margin-right: 30pc;
}
.socials .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .socials .button:hover{
    width: 200px;
  }
  .socials .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .socials .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .socials .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .socials .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .socials .button:nth-child(4):hover .icon{
    background: #333;
  }
  .socials .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .socials .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .socials .button:hover .icon i{
    color: #fff;
  }
  .socials .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .socials .button:nth-child(1) span{
    color: #4267B2;
  }
  .socials .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .socials .button:nth-child(3) span{
    color: #E1306C;
  }
  .socials .button:nth-child(4) span{
    color: #333;
  }
  .socials .button:nth-child(5) span{
    color: #ff0000;
}
.Info{
    background-color: #000000;
    width: 100%;
    height: 125vh;
    color: #fff;
    
}
.Info2{
    background-color: #000000;
    width: 100%;
    height: 125vh;
    color: #fff;
    position: relative;
    bottom: 7pc;
}
.text2{
    float: left;
    margin-top: 5pc;
    margin-right: 35pc;
    margin-left: 1pc;
}
.Image{
    float: right;
    position: relative; bottom: 10pc;
    margin-left: 20px;
}
.text1{
    float: left;
    margin-top: 15pc;
    margin-right: 35pc;
    margin-left: 3pc;
}
.Info{
    position: relative;
    bottom: 7pc;
}
#contact {
  width: 100%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh; 
}

.section-header {
  margin: 20px auto; 
  font: 300 40px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

  .contact-wrapper {
    max-width: 800px; 
    padding-left: 20px; 
    margin-right: 40pc;
  }


#contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  .form-horizontal {
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .message-box, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
    max-width: 400px;

  }
  

  
  
  .ctext {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .contact-socials {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .contact-socials li a {
    color: #fff;
  }
.contact-wrapper{
    margin-left: 40pc;

   }
  
  .contact-socials li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .contact-socials li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .contact-socials li:hover {
    background-color: #fff; 
  }
  
  .contact-socials li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .contact-socials li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  p{
    margin-right: 3pc;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  .contact {
    padding: 130px 0;
    margin-left: 4pc;
  }
  
  .contact .heading h2 {
    font-size: 35px;
    font-weight: 700;
  
  margin-left: 30pc;
    padding: 0;
  
  }
  
  .contact .heading h2 span {
    color: #ff9100;
  }
  .contact .heading h2{
    color: #f9f9f9;
    margin-right: 50pc;
  }
  
  
  
  .contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
  }
  
  .contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
  }
  
  .contact .title h3 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 60pc;
  }
  
  .contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.6;
    margin: 0 0 40px;
    margin-right: 50pc;

  }
  
  .contact .content .info {
    margin-top: 30px;
  }
  .contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #ffffff;
    margin-right: 20px;
    text-align: center;
    width: 20px;
  }
  .contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
  }
  
  .contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
  }
  form{
    margin-left: 5pc;
    position: relative;
    bottom: 20pc;
  }
  .contact{
    margin-right: 40pc;
  }
  .content{
    margin-right: 50pc;
  }
  footer{
    width: 200vh;
  }


@media (max-width: 1280px) {
    header {
      padding: 14px 2%;
      transition: 2s;
    }
  
    .navbar a {
      padding: 5px 0;
      margin: 0px 20px;
    }
    body{
      width: 220vh;
    }
  }
  
  @media  (max-width: 1080px) {
   
  }
  
  @media (max-width: 880px) {
    
    .navbar {
        width: 270px;
        height: auto;
        text-size-adjust: large;
      }
      h1{
        font-size: 200px;
      }
      h2{
        font-size: 100px;
        margin-top: 50px;
        position: relative; bottom: 2px;
      }
      
      .logo{
        font-size: 60px;
      }
      
     
      .main{
        font-size: 60px;
      }
      
      .main a{
        font-size: 60px;
      }
      .main i{
        font-size: 60px;
      }
      li{
        font-size: 60px;
      }
    
      .landing {
        width: 120vh; 

        height: 250vh;
      }
    
      #menu-icon {
        display: block;
      }
      .main a{
        font-size: 60px;
      }
    
      body {
        background-color: #000000;
        margin-bottom: 0px;
      }
      .about{
        width: 150vh; 
        height: 250vh;
        display: flex;
        flex-direction: column;
        height: 250vh;
      
      }
      
      .btn1{
        width: 200px;
      }
      .text{
        margin-top: 15pc;
        font-size: 60px;
      }
      .btn1 img {
        width: 400px; 
      }
      
      
      
      

      .Info, .Info2{
        display: flex;
        flex-direction: column;       
        width: 140vh;
        height: 250vh;
        margin: 0%;

      }
      .Image{
        margin-top: 10pc;
        height: 150px;
       margin-left: 30vh;
      }
      .text1 {
        font-size: 100px;
        justify-content: center;
        text-align: center;
        margin-left: 5pc;
        width: 90vh;

      }
      .text1 p{
        font-size: 60px;
        width: 90vh;
      
      }
      .text2{
        font-size: 100px;
        justify-content: center;
        text-align: center;
        margin-left: 5pc;
        width: 90vh;
      }
      .text2 p{
        font-size: 60px;
        width: 90vh;
        
      }
      
      
      .circle, .text{
        margin-top: 30pc;
      }
      
     
      
      .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
        font-size: 100px;
      }
    
      .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        font-size: 1.3rem; 

      }
    
      .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
      }
    
      .navbar a.active {
        color: var(--text-color);
      }
    
      .navbar.open {
        right: 2%;
      }
    
      .landing {
        width: 220vh;
      }
      
  }
  
  @media screen and (max-width: 569px) {
   
    
    .logo{
      font-size: 60px;
    }
    
    .main{
      font-size: 60px;
    }
    
    .main a{
      font-size: 60px;
    }
    .main i{
      font-size: 60px;
    }
    li{
      font-size: 60px;
    }

    .navbar{
      text-size-adjust: large;

    }
    .navbar a {
      font-size: 70px; 
    }
    .landing{
      width: 210vh;
    }
    .about{
      width: 160vh;
      height: 150pc;
    }
    .socials{
      width: 110vh;
    }
    .button{
      width: 110vh;
    }
    .Info, .Info2{
      width: 110vh;

    }
    .text1, .text2{
      margin-left: 20pc;
      width: 100vh;
    }
    h1{
      font-size: 200px;
    }
    h2{
      font-size: 100px;
      margin-top: 50px;
      position: relative; bottom: 2px;
    }
    .Info img{
      margin-left: 10pc;
    }


   
  }
  
@media (max-width: 380px){
    
    .Info,.Info2{
      height: 300vh;
      width: 110vh;
    }

    .landing, .about{
      width: 180vh;
      height: 300vh;
    }
    

  
  @media (max-width: 330px){
    
    .Info,.Info2{
      height: 600vh;
      width: 110vh;
    }

    .landing, .about{
      width: 250vh;
      height: 600vh;
    }
    p{
      width: 130vh;
      text-align: left;

    }
  
}
  
}